

.wrapper {
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
  @include desktop {
    max-width: 1000px;
  }
  @include laptop {
    max-width: 768px;
  }
  @include tablet790 {
    max-width: 738px;
  }
  @include tablet {
    max-width: 580px;
  }
  @include phone {
    max-width: 420px;
  }
  @include small {
    min-width: 290px;
  }
}

.icon {
  margin-right: 8px;
  fill: $c-white;
}

.icon-mini {
  width: 20px;
  height: 20px;
}