.calculate {
  position: relative;
  display: flex;
  align-items: center;
  @include desktop {
    flex-direction: column-reverse;
  }
  @include small {
    margin-bottom: 0;
  }
  &.photo-left {
    & .title-group {
      margin-left: auto;
      margin-right: 0;
    }
    & .calculate-bg {
      left: 0;
      right: auto;
      @include desktop {
        right: -15px;
        left: auto;
      }
      @include small {
        right: auto;

      }
      & picture {
        border-radius: 0 60px 60px 0;
        @include desktop {
          border-radius: 60px 0px 0px 60px;
        }
        @include small {
          border-radius: 0;
        }
      }
    }
  }
  & .title-group {
    width: calc(50% - 24px);
    @include desktop {
      width: 100%;
      margin-bottom: 30px;
    }
    @include tablet {
      margin-bottom: 40px;
    }
    & h2 {
      margin-bottom: 36px;
      @include laptop {
        margin-bottom: 30px;
      }
      @include tablet {
        margin-bottom: 40px;
      }
    }
    & p {
      margin-bottom: 36px;
      @include laptop {
        margin-bottom: 30px;
      }
      @include tablet {
        margin-bottom: 40px;
      }
    }
  }
  &-bg {
    position: absolute;
    right: 0;
    width: calc(50% - 24px);
    height: 515px;
    @include desktop {
      position: relative;
      right: -15px;
      width: 100%;
      height: 350px;
    }
    @include tablet {
      width: calc(100% + 15px);
      right: 0;
    }
    @include small {
      height: 200px;
    };
    @include hover {
      &:hover {
        & img {
          transform: scale(1.07);
        }
      }
    }
    & picture {
      width: 100%;
      height: 100%;
      border-radius: 60px 0px 0px 60px;
      overflow: hidden;
      @include tablet {
        border-radius: 0;
      }
      & img {
        width: 100%;
        height: 100%;
        transition: transform 1s ease-in
      }
    }
  }
}