.clients {
  margin-bottom: 60px;
  &-slider {
    position: relative;
    width: calc(251 * 5 - 32);
    margin: 0 auto;
    cursor: grab;
    &__item {
      padding: 12px;
      @include tablet790 {
        width: 214px;
      }
    }
    & picture {
      width: 100%;
    }
    & img {
      width: 100%;
    }
  }
  & .title-group {
    margin-bottom: 56px;
    @include tablet {
      margin-bottom: 40px;
    }
  }
  & .swiper-slide {
    & img {
      transition: transform .3s ease-in;
    }
    &:hover {
      @include hover {
        & img {
          transform: scale(1.1);
        }
      }
    }
  }
  & .slider-arrow {
    bottom: -36px;
  }
  & .swiper-pagination {
    bottom: -27px;
  }
}