.consultation {
  position: relative;
  top: 1px;
  background-color: $c-main;
  color: $c-white;
  margin-top: 235px;
  border-bottom: 1px solid rgba(241, 249, 255, 0.1);
  @include laptop {
    margin-top: 80px;
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: -267px;
    left: 15%;
    z-index: 1;
    border: 40px solid #C5E5FD;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: transparent;
    @include media(1500px) {
      left: 15px;
    }
    @include laptop {
      left: auto;
      top: -61px;
      right: -68px;
    }
    @include tablet {
      display: none;
    }

  }
  &-wrapper {
    position: relative;
    width: calc(col(7) - 24px);
    padding: 60px 0;
    @include desktop {
      width: 100%;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      top: -133px;
      left: 189px;
      border: 40px solid #C5E5FD;
      border-radius: 60px;
      background-color: transparent;
      width: 217px;
      height: 231px;
      @include laptop {
        display: none;
      }
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      z-index: -2;
      top: -75px;
      left: 359px;
      border: 40px solid #76C1FB;
      border-radius: 60px;
      background-color: transparent;
      width: 241px;
      height: 140px;
      @include laptop {
        display: none;
      }
    }
  }
  &-bg {
    position: absolute;
    top: -75px;
    right: 0;
    padding-left: calc(100% / 12 * 7 + 24px);
    @include desktop {
      display: none;
    }
    @include tablet {
      padding-left: calc(100% / 12 * 7 + 15px);
    }
    & picture {
      border-radius: 60px 0px 0px 0px;
      overflow: hidden;
      & img, source {
        @include media(2048px) {
          height: 515px;
        }
      }
    }
  }
  & h2 {
    margin-bottom: 0;
  }
  & p {
    line-height: 150%;
    color: #85919E;
    margin-bottom: 24px;
  }
  & .title-group {
    margin-bottom: 36px;
    @include tablet {
      margin-bottom: 40px;
    }
  }
  & .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    gap: 24px;
    @include tablet {
      flex-direction: column;
      gap: 30px;
    }
    &>* {
      flex-grow: 1;
      @include tablet {
        width: 100%;
      }
    }
  }
  & .i-agree__checkbox>a {
    display: inline;
  }
  & .btn {
    padding: 12px 16px;
    justify-content: center;
  }

}