.portfolio-performance {
  & .portfolios__item {
    @include tablet {
      &:nth-child(n + 3) {
        display: none;
      }
    }
  }
  & .buttons {
    margin-top: 60px;
    display: flex;
    align-items: center;
    @include tablet {
      margin-top: 40px;
      justify-content: center;
      gap: 15px;
    }
    @include small {
      gap: 12px;
    }
    & .btn:first-child {
      margin-left: 50%;
      transform: translateX(-50%);
      @include tablet {
        margin-left: 0;
        margin-right: 0;
        transform: translateX(0);
      }
    }
    & .btn:last-child {
      margin-right: 0;
      margin-left: auto;
      @include tablet {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}

