.page-about {
  position: relative;
  & .wrapper {
    position: relative;
    &::after {
      @include rect(393, 261, #76C1FB);
      left: -489px;
      top: 544px;
      @include desktop {
        display: none;
      }
    }
    &::before {
      @include rect(683, 273);
      top: 674px;
      left: -419px;
      @include desktop {
        display: none;
      }
    }
  }
  & .content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 60px 48px;
    @include laptop {
      column-gap: 30px; 
      grid-template-columns: repeat(2, 1fr);
    }
    @include tablet {
      grid-template-columns: 1fr;
      gap: 40px;
    }
    p {
      line-height: 150%;
      color: #85919E;
      grid-column: 4/7;
      @include laptop {
        grid-column: 1/2;
      }
      @include tablet {
        grid-column: 1/2;
      }
      @include small {
        max-width: 290px;
      }
      &:first-child {
        grid-column: 1/4;
        @include laptop {
          grid-column: 1/2;
        }
        @include tablet {
          grid-column: 1/2;
        }
      }
    }
    &-pic {
      max-height: 250px;
      grid-column: 1/3;
      @include laptop {
        grid-column: 2/3;
        grid-row: 1/3;
        max-height: 312px;
      }
      @include tablet {
        grid-column: 1/2;
      }
    }
  }
  & picture {
    border-radius: 60px;
    overflow: hidden;
    grid-column: 3/7;
    max-height: 535px;
    @include hover {
      &:hover {
        & img {
          transform: scale(1.07);
        }
      }
    }
    @include laptop {
      grid-column: 1/3;
      max-height: 310px;
    }
    @include tablet {
      grid-column: 1/2;
      border-radius: 0;
      position: relative;
      left: 0;
      right: 0;
    }
    @include small {
      position: relative;
      left: -15px;
      width: 420px;
      height: 200px;
    }
    & img {
      height: 100%;
      width: 100%;
      transition: transform 1s ease-in;
    }
  }
}

.list {
  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px;
    @include laptop {
      grid-template-columns: 1fr;
      gap: 30px;
    }
  }
  li {
    position: relative;
    padding: 24px 24px 24px 64px;
    background: #F1F9FF;
    border-radius: 16px;
    line-height: 150%;
    color: #85919E;
    &::before {
      content: '';
      background-image: url('../image/svg/icon-ok.svg');
      position: absolute;
      top: 24px;
      left: 24px;
      width: 24px;
      height: 24px;
    }
  }
}