.filter {
  margin-bottom: 60px;
  @include tablet {
    margin-bottom: 40px;
  }
  & ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 16px;
    border: 2px solid $c-primary;
    overflow: hidden;
    @include tablet {
      grid-template-columns: 1fr;
    }
  }
  & .portfolio__header-item {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    border-right: 2px solid $c-primary;
    &:last-child {
      border-right: 0;
    }
    & a {
      width: 100%;
      padding: 12px 0;
      transition: background-color 0.3s ease-out;
      @include hover {
        &:hover {
          background-color: rgba(255, 123, 67, 0.2);
        }
      }
    }
    &.active {
      background-color: $c-primary;
      color: $c-white;
      cursor: default;
      & span {
        display: inline-block;
        padding: 12px 0;
      }
    }
  }

}