.new-item-page {
  position: relative;
  margin-top: 0;
  &::before {
    @include rect(393, 485);
    top: 130px;
    right: -180px;
    @include media(1670px) {
      right: -280px;
    }
    @include media(1430px) {
      display: none;
    }
  }
  &::after {
    @include rect(393, 485);
    bottom: -250px;
    left: -180px;
    @include media(1670px) {
      left: -280px;
    }
    @include media(1430px) {
      display: none;
    }
  }
  & .title-group {
    margin-bottom: 60px;
    width: col(11);
    margin-right: 0;
    margin-left: auto;
    @include laptop {
      width: 100%;
      margin-bottom: 40px;
    }
  }
  & .new-image {
    display: block;
    position: relative;
    left: 0;
    top: 0;
    float: left;
    margin-right: 48px;
    margin-bottom: 48px;
    border-radius: 60px;
    overflow: hidden;
    width: calc(50% - 48px);
    height: 360px;
    @include laptop {
      float: none;
      width: 100%;
      height: 350px;
      margin-bottom: 40px;
      margin-right: 0;
    }
    @include tablet {
      height: 300px;
      border-radius: 16px;
    }
    @include small {
      height: 200px;
    }
    & picture, img {
      height: 100%;
      width: 100%;
    }
  }
  & .content {
    & blockquote {
      margin: 0;
      margin-left: 104px;
      margin-bottom: 48px;
      position: relative;
      @include laptop {
        margin-bottom: 40px;
      }
      @include tablet {
        margin-left: 0;
      }
      &:last-child() {
        margin-bottom: 0;
      }
      &::before {
        @include curcle();
        left: -161px;
        top: 50%;
        transform: translateY(-50%);
        @include tablet {
          display: none;
        }
      }
      &>p {
        line-height: 150%;
        color: #3E9AE0;
      }
    }
    p {
      line-height: 150%;
      color: #30373E;
      margin-bottom: 48px;
      @include laptop {
        margin-bottom: 40px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    h2 {
      font-weight: 700;
      font-size: 24px;
      margin-bottom: 24px;
      color: #30373E;
      line-height: 140%;
      @include tablet {
        font-size: 20px;
      }
    }
  }
  & .text {
    width: col(11);
    margin-right: 0;
    margin-left: auto;
    @include laptop {
      width: 100%;
    }
  }
}