.new {
  & picture {
    width: 100%;
    height: 100%;
    &>img {
      width: 100%;
      height: 100%;
    }
  }
  & figcaption {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  & h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: $c-main;
    margin-bottom: 16px;
    transition: color 0.3s ease-out;
  }
  p {
    font-size: 16px;
    line-height: 150%;
    color: #85919E;
  }
  &__date {
    font-size: 13px;
    line-height: 130%;
    color: #85919E;
    margin-bottom: 8px;
  }
  &s-link {
    display: block;
    border-radius: 16px;
    overflow: hidden;
    & picture {
      height: 100%;
    }
    & img {
      transition: transform 1s ease-in;
    }
  }
  & .new-item__hover {
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }
  @include hover {
    &:hover {
      & .new-item__hover {
        opacity: 1;
      }
      & h3 {
        color: $c-primary;
      }
      & img {
        transform: scale(1.2);
      }
    }
  }
  & .new-item__hover {
    margin-top: 10px;
    @include tablet {
      display: none;
    }
  }
}

.page-news {
  position: relative;
  margin-top: 0;
  &::before {
    @include rect(393, 485);
    top: 1150px;
    left: -191px;
    @include media(1600px) {
      display: none;
    }
  }
  &::after {
    @include curcle();
    top: 650px;
    left: 81px;
    @include media(1600px) {
      display: none;
    }
  }
  & .wrapper {
    position: relative;
    &::before {
      @include rect(393, 285, #76C1FB);
      right: -460px;
      top: 363px;
      z-index: 1;
    }
    &::after {
      @include rect(393, 485);
      top: 453px;
      right: -583px;
    }
  }
  & .news {
    grid-template-columns: repeat(6, 1fr);
    display: grid;
    gap: 48px;
    @include desktop {
      gap: 30px;
    }
    @include laptop {
      grid-template-columns: repeat(2, 1fr);
    }
    @include tablet {
      grid-template-columns: 1fr;
      grid-template-rows: none;
    }
  }

  & .new {
    grid-column: span 2;
    @include laptop {
      grid-column: span 1;
    }
    &:first-child {
      grid-column: span 3;
      @include laptop {
        grid-column: span 2;
      }
      @include tablet {
        grid-column: span 1;
      }
    }
    &:nth-child(2) {
      grid-column: span 3;
      @include laptop {
        grid-column: span 1;
      }
    }
    &s-link {
      height: 358px;
      @include tablet {
        height: 250px;
      }
      @include small {
        height: 150px;
      }
    }
    &-item__hover {
      @include laptop {
        opacity: 1;
      }
    }
    & figcaption {
      padding-top: 24px;
      padding-bottom: 13px;
    }
  }

  & h2 {
    margin-bottom: 0;
  }

  & .title-group {
    margin-bottom: 60px;
    @include laptop {
      margin-bottom: 40px;
    }
  }
}