.burger-menu__btn {
  display: none;
  position: relative;
  background-color: transparent;
  outline: none;
  border: none;
  width: 48px;
  height: 48px;
  overflow: hidden;
  padding: 0;
  @include laptop{
    display: block;
  }
  & span {
    position: absolute;
    left: 10px;
    display: block;
    width: 28px;
    height: 2px;
    background-color: $c-primary;
  }

  &::after,
  &::before {
    content: '';
    position: absolute;
    left: 10px;
    height: 2px;
    width: 28px;
    background-color: $c-primary;
    transition: all .3s ease-in-out;
  }

  &::after {
    top: 32px;
  }

  &::before {
    top: 14px;
  }

  &.active {
    & span {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    &::after {
      top: -50px;
    }

    &::before {
      top: 23px;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
}

.section-margin {
  margin: 160px 0;
  @include desktop {
    margin: 100px 0;
  }
  @include laptop {
    margin: 80px 0;
  }
  @include phone {
    margin: 60px 0;
  }
}

.section-padding {
  padding: 160px 0;
  @include desktop {
    padding: 100px 0;
  }

  @include laptop {
    padding: 80px 0;
  }
  @include phone {
    padding: 60px 0;
  }
}

.section-main {
  padding-top: 60px;
  @include laptop {
    margin-bottom: 80px;
  }
  @include phone {
    padding: 0;
    margin-top: 30px;
    margin-bottom: 60px;
  }
}

.title-group {
  & p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #85919E;
  }
  & h2 {
    margin-top: 20px;
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 40px;

    @include laptop {
      margin-bottom: 40px;
    }

    @include tablet {
      font-size: 24px;
      line-height: 1.4;
    }
  }
  & h1 {
    margin-top: 20px;
    font-size: 40px;
    line-height: 130%;
    @include tablet {
      font-size: 24px;
      line-height: 140%;
    }
  }
}

.intro {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #3E9AE0;
}

.row-flex {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$offset_one_side;
  margin-right: -$offset_one_side;

  @include tablet790 {
    margin-right: -$offset_one_side-tablet;
    margin-left: -$offset_one_side-tablet;
  }
}
.row-grid {
  display: grid;
  align-items: stretch;
  gap: 48px;
  @include laptop {
    gap: 30px;
  }
  @include phone {
    gap: 40px;
  }
}

.swiper-pagination {
  bottom: -23px ;
}
.swiper-pagination-bullet {
  background-color: $c-main;
  width: 3px !important;
  height: 3px !important;
}

.swiper-pagination-bullet-active-main {
  width: 6px !important;
  height: 6px !important;
}

.swiper-pagination-bullet-active-prev,
.swiper-pagination-bullet-active-next {
  opacity: 1;
}

.swiper-pagination-bullet-active-prev-prev {
  display: none;
}

.slider-arrow {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background-color: transparent;
  stroke: $c-primary;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -32px;
  left: 50%;
  z-index: 2;
}

.arrow {
  &-next {
    left: calc(50% + 36px);
    transform: translateX(-50%);
  }
  &-prev {
    left: calc(50% - 36px);
    transform: translateX(-50%);
  }
}

.btn-primary {
  padding: 4px;
  font-family: 'OpenSans';
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $c-main;
  background-color: transparent;
}

.btn-bg-primary {
  padding: 12px 32px;
  color: $c-white;
  background-color: $c-primary;
  border-radius: 16px;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  transition: .3s ease;
  & .icon {
    margin-right: 0;
    margin-left: 4px;
    stroke: $c-white;
    padding-top: 4px;
    transition-duration: .4s;
    transition-property: stroke, transform;
  }
  @include hover {
    &:hover {
      color: $c-main;
      &> .icon {
        stroke: $c-main;
        transform: translateX(10px);
      }
    }
  }
}

.btn-primary-line {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #FF7B43;
    transition: width 0.3s ease-out;
  }
  & .icon {
    transition: transform 0.3s ease-out;
  }

  @include hover {
    &:hover {
      color: $c-primary;
      &::after {
        width: 0;
      }
      &> .icon {
        transform: translateX(10px);
      }
    }
  }

  & .icon {
    width: 24px;
    height: 24px;
    stroke: $c-primary;
    margin-left: 4px;
    margin-right: 0;
    padding: 5px 5px 6px 5px;
  }
}
.btn {
  border: none;
}
.btn-flex {
  display: flex;
  align-items: center;
}

.icon-arrow {
  padding: 7px 5px 6px 5px;
  width: 24px;
  height: 24px;
}

// hover эффект для картинок, класс для ссылки
.hover-images__icon {
  display: block;
  text-decoration: none;
  position: relative;
  height: 100%;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: all .3s ease-in-out;
    visibility: hidden;
  }
  @include hover {
    &:hover {
      &>.icon-hover {
        top: 50%;
        opacity: 1;
      }
      &::before {
        visibility: visible;
        background-color: rgba(48, 55, 62, 0.7)
      }
    }
  }
}
.icon-hover {
  margin-right: 0;
  position: absolute;
  top: calc(50% - 10px);
  left: 50%;
  width: 48px;
  height: 48px;
  z-index: 1;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out;
}

.fake-checkbox {
  display: inline-block;
  // border: 1px solid $c-primary;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  background-color: $c-white;
  & .icon {
    display: inline-block;
    width: 100%;
    margin-right: 0;
  }
}
.custom-checkbox {
  display: flex;
  cursor: pointer;
}
.checkbox {
  &-title {
    font-size: 13px;
    line-height: 130%;
    color: #85919E;
    & a {
      display: inline;
      color: $c-primary;
    }
  }
}
.default-checkbox {
  display: none;
  &:checked {
    &+.fake-checkbox {
      background-color: $c-primary;
    }
  }
}

input {
  transition: border 0.2s ease;
  padding: 12px 16px;
  color: #85919E;
  border: 2px solid transparent;
  line-height: 150%;
  background: #F1F9FF;
  border-radius: 16px;
  &::placeholder {
    color: #85919E;
  }
  &:active {
    border: 2px solid #FF7B43;
    color: #85919E;
  }
  &:focus {
    border: 2px solid #FF7B43;
    color: #30373E;
  }
}

textarea {
  transition: border 0.2s ease;
  padding: 12px 16px;
  line-height: 1.5;
  background-color: #F1F9FF;
  border-radius: 16px;
  border: 2px solid transparent;
  width: 100%;
  color: #85919E;
  resize: none;
  &::placeholder {
    color: #85919E;
    font-family: "OpenSans";
  }
  &:focus {
    outline: none;
    color: #30373E;
    border: 2px solid $c-primary;
  }
}

.input-button-file {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $c-main;
  & input {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
    padding: 0;
  }
  & label {
    cursor: pointer;
    padding: 4px;
    border-bottom: 1px solid #FF7B43;
    transition: color .3s ease-in-out;
    &:hover {
      @include hover {
        color: $c-primary;
      }
    }
  }
}

.btn-up {
  width: 80px;
  height: 80px;
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 80px;
  bottom: 80px;
  background: #C5E5FD;
  border: none;
  border-radius: 50%;
  z-index: 100;
  transition: box-shadow .3s;
  @include laptop {
    width: 48px;
    height: 48px;
    right: 60px;
    bottom: 60px;
  }
  @include phone {
    right: 25px;
    bottom: 20px;
  }
  @include hover {
    &:hover {
      box-shadow: 0px 0px 20px rgba(31, 79, 116, 0.4)
    }
  }
  & .icon {
    width: 42px;
    height: 25px;
    margin-right: 0;
    @include laptop {
      width: 20px;
      height: 16px;
    }
  }
}
.overlay {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 85px;
  width: 0;
  height: 0;
  background-color: rgba(35, 35, 35, 0.4);
  transition: opacity .3s ease-in-out;
  opacity: 0;
  &.active {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
}